body {
	background-color: #222222;
	color: #f7f7f7;
	font-family: 'Montserrat', sans-serif;
}

.navbar {
	margin-bottom: 0px;
  padding: 0.5em;
  font-size: 1.5em;
}

.container {
  padding: 0;
}

h2 {
	text-align: center;
}

#userProfile {
	top: 50%;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #32cd32;
	z-index: 999;
	position: absolute;
	font-size: 3em;
	padding: 0.5em 1em;
	border-radius: 10px;
	border: #32cd32;
}

#userProfile:hover {
	background-color: yellow;
	color: #000000;
}

#energySlider {
  height: 91vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.carousel-inner {
  width: 100vw;
}

.item > img {
	min-width: 100vw;
	min-height: 100vh;
  object-fit: cover;
}

.carousel-caption {
	top: 2%;
	font-size: 1.5em;
	text-align: center;
  padding: 0;
  height: 100%;
  border-radius: 10px;
}

.carousel-caption > h2, .carousel-caption > h3 {
	background-color: rgba(0, 0, 0, 0.8);
	padding: 0.5em 1em;
	border-radius: 10px;
}

.carousel-control {
  height: 88vh;
}

.black {
	top: 5%;
	left: 45%;
	color: #ffffff;
	height: 6em;
	font-size: 1em;
}

#chart_div > div {
	width: 97vw;
}

#graphSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#commentBox {
	height: 10em;
	padding: 1em;
	width: 100%;
	text-align: center;
	margin-left: 6em;
}

/*#startButton {
	text-align: center;
	background-color: green;
	font-size: 3em;
	padding: 0.5em 1em;
	margin: auto;
}

#startButton:hover {
	background-color: yellow;
}*/

.yellow {
	background-color: yellow;
}

.light {
	background-color: #484848;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  text-align: center;
	width: 100%;
	margin: 0.5em 0;
  color: #FFFFFF;
}

@media only screen and (max-width: 800px) {
  .navbar {
		font-size: 1em;
	}

	.container {
	  padding-left: 1em;
	}

	#userProfile {
		top: 60%;
		font-size: 2em;
	}

	.item > img {
		min-height: 95vh;
	}

	#commentBox {
		font-size: 1em;
		margin-left: 0;
	}

	#commentBox > h1 {
		font-size: 0.7em;
	}

	#commentBox > h3 {
		font-size: 0.5em;
		height: 5em;
	}

	.black {
		top: 2%;
		left: 10%;
		height: auto;
		margin: auto;
		font-size: 1.5em;
	}

	h2 {
		font-size: 0.7em;
	}

	h3 {
		font-size: 0.5em;
	}
}
